.wrap__booking-history {
    width: 100%;

    .body_book-history-tickets {
        padding: 100px 50px 50px 50px;

        .content_booking-hitory-tickets {
            padding-top: 20px;

            .head__taskbar-filter {
                width: 100%;
                display: flex;
                border-bottom: 1px solid #635f5f;

                .tbody__taskbar {
                    width: 100%;
                    display: flex;

                    .item__tab_type-order {
                        border-bottom: 2px solid;

                        button {
                            padding: 10px 15px;
                            @include styleDisFlexCenter;
                            text-decoration: none;
                            font-size: 20px;
                            font-weight: 600;
                            border: none;
                            user-select: none;
                            background: #ffffff34;
                        }
                    }
                }

                .tbox_filter-result {
                    position: relative;

                    .btn__filter-history {
                        position: absolute;
                        right: 0px;
                        background: #ffffff1a;
                        border: none;
                        user-select: none;
                        bottom: none;
                        display: flex;
                        @include styleDisFlexCenter;
                        padding: 11px 15px;
                        border-bottom: 1px solid;
                        font-size: 20px;
                        cursor: pointer;

                        svg {
                            font-size: 25px;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .content_result-filter {
                width: 100%;

                .text_warning-store-his {
                    margin-top: 15px;
                    font-weight: 600;
                    font-size: 18px;
                    @include styleDisFlexCenter;
                    color: #c5c5c5;

                    svg {
                        margin-right: 10px;
                    }
                }

                .body__result_tickets {
                    width: 100%;
                    padding: 30px 10px;

                    .item__ticket_booked {
                        width: 100%;
                        display: flex;
                        margin-bottom: 25px;
                        transition: all 0.3s;
                        cursor: pointer;
                        background-color: #ffffff09;

                        .item_flex_wrap {
                            padding: 15px 20px;
                        }

                        .border_img {
                            img {
                                width: 70px;
                            }
                        }

                        .infomation_tickets {
                            width: 100%;
                            display: grid;
                            padding-left: 0px;

                            .title_film {
                                font-size: 23px;
                                font-weight: 600;
                                color: $main-color-while-fff;
                            }

                            .duction-information {
                                display: flex;
                                align-items: end;
                                .cinema_style {
                                    font-size: 18px;
                                }
                            }
                        }

                        .line_trow-notepad {
                            width: 80%;
                            border-left: 2px dashed #615858;
                            display: grid;
                            position: relative;

                            .time_tickets {
                                font-size: 17px;
                                font-weight: 600;
                            }

                            .total_unit {
                                font-size: 26px;
                                font-weight: 700;
                            }

                            &::after,
                            &::before {
                                content: "";
                                width: 16px;
                                height: 16px;
                                background: $main-color;
                                position: absolute;
                                margin-left: -8px;
                                border-radius: 100%;
                            }

                            &::after {
                                top: -8px;
                            }

                            &::before {
                                bottom: -10px;
                            }
                        }

                        .status_used {
                            width: 50%;
                            @include styleDisFlexCenter;
                            justify-content: right;
                            span{
                                font-size: 18px;
                                font-weight: 700;
                                color: #c05454;
                                border:3px solid ;
                                padding: 5px;
                                transform: rotate(-12deg);
                            }
                        }

                        &:hover {
                            background: #ffffff17;
                        }
                    }
                }
            }
        }
    }

    .wrap_loading_route {
        height: 100% !important;
    }
}

@media only screen and (max-width: 1024px) {
    .wrap__booking-history {
        .body_book-history-tickets {
            .heading_text {
                font-size: 25px !important;

                svg {
                    font-size: 30px !important;
                }
            }

            .content_booking-hitory-tickets {
                padding-top: 10px !important;

                .item__tab_type-order {
                    button {
                        font-size: 18px !important;
                    }
                }

                .tbox_filter-result {
                    input {
                        font-size: 18px !important;
                    }
                }

                .content_result-filter {
                    .body__result_tickets {
                        padding: 30px 0px !important;

                        .border_img {
                            img {
                                width: 60px !important;
                            }
                        }

                        .title_film {
                            font-size: 19px !important;
                        }
                    }
                }
            }
        }
    }
}
