$main-color-while: #f9f9f9;
$main-color-while-fff: #ffffff;
$main-color-brg: #000000e3;
$main-color :#232435;
$main-color_box_shadow: #000000b0 0px 26px 30px -10px, #000000ba 0px 16px 10px -10px;
$main-color_box_shadow-hover: #000000cc 0px 40px 58px -16px, #000000b8 0px 30px 22px -10px;

$main-color_red_noti : #e12b2b;

$backColor_btn_seat : #eb4476;
$backColor_btn_seat_before : #db3164;
$backColor_btn_seat_selected : #d67e0a;
$backColor_btn_seat_disabled : #353232;
$backColor_btn_seat_regular : #1e1ec0;
$backColor_btn_seat_couple : #990430;


.display-block {
    display: block !important;
}

.display-none {
    display: none !important;
}

@mixin styleDisFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}