.wrap__movies{
    padding:100px 50px;
    .body__movie{
        .noti_unContent{
            text-align: center;
            font-size: 60px;
            font-weight: 600;
            padding: 140px 0px;
            color: $main-color_red_noti;
        }
    }
}